<!DOCTYPE html>
<html>
<head>
  <title>checking...</title>
</head>
<body>
  <h2>Checking for violations. Please wait a while</h2>
  <!--video width="320" height="240" controls>
    <source src={{ url_for('static', filename=filename) }} type="video/mp4">
    Your browser does not support the video tag.
  </video-->
    
  <div>
      <div>
          <img src = "{{url_for('main') }}" width="25%" height="25%"/>
      </div>
      <!--p> Violations: {{v}}  Total Pedestrians: {{track_cnt}} Fps: {{_fp}}</p-->
  </div>
</body>
</html>