<!DOCTYPE html>
<html>
<head>
  <title>check_violations</title>
</head>
<body>
  <h2>Uploaded Successfully</h2>
  <!--video width="320" height="240" controls>
    <source src={{ url_for('static', filename=filename) }} type="video/mp4">
    Your browser does not support the video tag.
  </video-->
    
  <div>
      <div>
          <img src = "{{url_for('stream_video') }}" width="25%" height="25%"/>
      </div>
      <div>
          <button onclick = "window.location.href= '{{url_for('stream2')}}';" type="button" class="btn btn-primary" id="btn-predict">Monitor</button>
      </div>
  </div>
</body>
</html>
